/* style.scss */
body {
  color: #666666; }

h1, h2 {
  color: #f99; }

#side_bar {
  background: #666; }
  #side_bar p {
    color: #fff; }

#footer {
  color: #fff;
  background: #999;
  font-weight: bold; }
